:root {
    --color-line-width: 100%;
    --gradient-angle: 90deg;

    --gradient-start: #ff4d4d;
    --gradient-1: #ff784d;
    --gradient-2: #ffb84d;
    --gradient-3: #fff44d;
    --gradient-4: #4dff88;
    --gradient-5: #4dd2ff;
    --gradient-6: #8c4dff;
    --gradient-7: #d94dff;
    --gradient-end: #ff4da6;
}

body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    background-color: black;
    font-size: 14px;
}

.color-line {
    height: 3px;
    width: var(--color-line-width);
    display: block;

    background: linear-gradient(
        var(--gradient-angle),
        var(--gradient-start) 0%,
        var(--gradient-1) 14%,
        var(--gradient-2) 26%,
        var(--gradient-3) 34%,
        var(--gradient-4) 48%,
        var(--gradient-5) 56%,
        var(--gradient-5) 72%,
        var(--gradient-6) 88%,
        var(--gradient-7) 96%,
        var(--gradient-end) 100%
    );
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px 30px;
    background-color: #1a1a1a;
    padding: 0;
    margin: 0;
    line-height: 4;
}

.left-nav-div {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 50px;
}

.nav-image {
    width: 120px;
    height: auto;
    display: block;
}

.right-nav-div {
    display: flex;
    align-items: center;
    gap: 35px;
    text-decoration: none;
}

.separator::after {
    content: "|";
    color: #666;
    margin-left: 20px;
}

.right-sub-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}

.link a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: text-decoration 0.2s ease;
}

.link a:hover {
    color: pink;
}

.search-box {
    padding: 8px 30px;
    border-radius: 20px;
    border: none;
    height: 30px;
    display: flex;
    align-items: center;
}

.nav-button {
    padding: 10px 25px;
    border-radius: 99999px;
    border: none;
    background-color: #0084FF;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s ease;
}

.search-box-container {
    outline: 1px solid #E9E9EC;
    background: #FBFBFB;
    border-radius: 99999px;
    padding: 0 20px;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    ::placeholder {
        color: #888;
    }
}

.search-box {
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.hero-section {
    padding: 100px 20px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}